html
  head
    title Premier League Scraper And Table
    style
      include style.css
  body
    table
      tr
        th Pos
        th Team
        th Points
      each team in json
        tr(style={color: team.textColor, background: team.backgroundColor})
          td= json.indexOf(team)+1
          td= team.team
          td= team.points

      